* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*html의 doc object는 기본 높이가 0이다
높이를 고려한 화면 layout을 만들려면 먼저 html doc
object높이를 100%로 설정한다. 여기서 100%는 브라우저의 
뷰 영역 높이와 같게 맞추라는 의미이다.

그런데 html doc object에 적용하는 100%의 의미가 
브라우저(핸드폰 pc등) 마다 달라서 화면 layout이 무너지는
경우가 있다. 그래서 css2 이상에서는 html doc object 에  height와 
width를 vh(view port height), vw(view port width)단위를 사용
하도록 권장한다. 
*/
html {
  height: 100vh;
  width: 100vw;
}
/*html doc object를 기준으로 body의 size설정*/
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; /*배치를 세로방향*/
}

header.dept {
  padding: 1.5rem;
  background-color: green;
}

/*현재 dept_ main.html  의 nav ul li tag에 margin-left를 
부여하여 오른쪽 정렬을 시도했으나 안됐다.
그 이유는 main css에서 nav tag에 flex를 적용해서 여기까지 영향을 
미쳤다.
따라서 nav에 display 속성을 block으로 만들어 주었다.*/

nav.dept {
  background-color: black;
  display: block;
}

nav.dept ul {
  margin-left: 30px;
  /*ul tag의 머릿글 모양 , disc, circle, square, none
  nav 용도로 사용할 때는 머릿글 모양을 보통 none으로 한다.*/
  list-style: none; /*리스트 앞에 붙는 모양 변경*/
  display: flex; /*inline block 으로 변경*/
  width: 100%;
}

nav.dept li {
  padding: 12px 16px;
  transition: 0.7s;
}

nav.dept li:nth-of-type(6) {
  margin-left: auto; /*nav.dept ul의 width를 100%로 하고 auto로 설정하면
  가장 오른쪽으로 감- nav.dept ul이 main css에서 flex로 되어 있었음*/
}

/*hover- 마우스가 올라가면*/
nav.dept li:hover {
  cursor: pointer;
  background-color: #777;
}

section.dept {
  border: 1px solid blue;
  flex: 1; /*이러면 화면을 줄였을때 flex 1로 설정된 부분은 끝까지 보인다.(다른 부분은 안보이더라도)*/
  margin: 3px;
  display: block;
}
section.dept:nth-of-type(1) {
  overflow: auto;
}
/*block tag의 overflow 속성
box 내부의 content가 box의 크기보다 클 경우 
content를 어떻게 표현할 것인가를 결정하는 속성

hidden : conttent를 box의 크기만큼만 남기고 잘라버리기

scroll : box에 scroll bar를 표현하고 넘치면 
scroll을 통하여 content를 통해 볼 수 있게 하기

auto: content가 box보다 작으면 그냥 평범하게 표현
content가 box보다 크면 자동으로 scroll bar가 나타나도록 하여
나머지 scroll하면서 content를 볼 수 있게 하기
*/
section.dept:nth-of-type(2) {
  overflow: auto; /*내용물이 넘치면 스크롤을 만들고*/
}
section.dept:nth-of-type(3) {
  overflow: hidden; /*내용물이 넘치면 스크롤을 만들고*/
}
section.dept article {
  overflow: auto;
  width: 60%;
}

article.dept {
  padding: 12px 16px;
  /* box 내부에 포함된 박스를 가로방향 중앙 정렬하기*/
  margin: 120px auto;
}
/*label과 input box를 감싸고 있는 div*/
article.dept div {
  display: flex;
  padding: 0px 20px;
}
/*article.dept box가 감싸고 있는
label과 input 을 동시에 select */
article.dept label,
article.dept input {
  margin: 3px;
  padding: 8px;
}

article.dept label {
  flex: 1;
  text-align: right;
  color: rgb(97, 97, 181);
  font-weight: bold;
}

article.dept input {
  flex: 2;
  border-radius: 5px;
  border: 1px solid#aaa;
  outline: 1px solid none;
}
article.dept input:hover {
  background-color: none;
}

article.dept input:focus {
  background-color: #eee;
}

div.button_box lable {
  flex: 1;
}

div.button_box div {
  flex: 2;
  text-align: left;
  margin: 3px 0;
  padding: 8px 0;
}
div.button_box button {
  padding: 8px 16px;
  margin: 8px 8px 8px 0;
  border: 0;
  outline: 0;
  border-radius: 5px;
}

div.button_box button:hover {
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
  cursor: pointer;
}
div.button_box button:nth-of-type(1) {
  background-color: blue;
  color: white;
}

div.button_box button:nth-of-type(2) {
  background-color: green;
  color: white;
}
div.button_box button:nth-of-type(3) {
  background-color: black;
  color: white;
}
